.container.margin-top50
  %h2.u-margin-bottom-md.text-center
    Join us

  .grid-layout.grid-layout3
    %a.tile-resource.grid-item{ href: "https://gitlab.com/users/sign_in#register-pane" }
      .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-join-gitlab.png');" }
      .tile-info
        %h4.tile-title
          Register for GitLab.com
        %p.tile-description
          Start using GitLab now for free. Explore public projects or host your own.
        %p.tile-link
          Register now
          %i.fas.fa-arrow-right

      %a.tile-resource.grid-item{ href: "/webcast/mastering-ci-cd/" }
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast.png');" }
        .tile-info
          %h4.tile-title
            Mastering continuous software development webcast
          %p.tile-description
            Learn how GitLab’s built-in CI/CD feature will allow you to apply continuous software development without the burden of complicated integrations and plugin maintenance.
          %p.tile-link
            Watch now
            %i.fas.fa-arrow-right

      %a.tile-resource.grid-item{ href: "/webcast/simplify-to-accelerate/" }
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast.png');" }
        .tile-info
          %h4.tile-title
            The hidden costs of DevOps toolchains webcast
          %p.tile-description
            Join us on July 10th for a live webcast with guest speaker, Christopher Condo, Senior Analyst at Forrester where he will share key insights from a 2019 data-backed study about the benefits of a single DevSecOps application.
          %p.tile-link
            Save your spot
            %i.fas.fa-arrow-right
