@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "sandwich-page-layout";

.landing-container {
  background: url("/images/feature_page/hero-background-overlay-features-page-v2.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 70px;
}

// for product category
.product-categories-container {
  background: linear-gradient(to right, $features-gallery-background-gradient-begin 0%, $features-gallery-background-gradient-middle 40%, $features-gallery-background-gradient-end 100%);
  color: $color-white;

  a {
    color: $color-white;
  }
}

.video-button {
  width: auto;
}

.feature-gallery {
  h2 {
    color: $color-white;
  }

  h3 {
    color: $color-white;
  }

  h4 {
    color: $color-white;
  }

  p {
    color: $color-white;
  }

  a {
    text-decoration: none;
    font-size: 18px;

    span {
      color: $color-secondary-alt;
      text-decoration: underline;
    }
  }

  .subhead {
    margin-bottom: 50px;
  }
}

.feature-gallery-alt {
  a {
    span {
      color: $color-secondary;
    }
  }
}

.feature-contents,
.feature-contents-white {
  a {
    color: $color-secondary-alt;
    font-size: 16px;
    text-align: center;
    cursor: pointer;

    &:visited {
      color: $color-secondary-alt;
    }

    &.dark-background-link {
      color: $color-white;

      &:visited,
      &:hover {
        color: $color-secondary-alt;
      }
    }
  }
}

//sass-lint:disable-all
.feature-contents-white {
  a {
    color: $color-secondary !important;

    &:visited,
    &:hover {
      color: $color-secondary-alt !important;
    }
  }
}
//sass-lint:enable-all

.video-container {
  box-shadow: 0 0 5 3 $features-semi-transparent-black;
  width: 60vw;
  height: 34vw;
  margin-top: 40px;
  display: none;
}

.compare-other-tools {
  margin-top: 20px;
}

@media(max-width: $screen-xs-max) {
  .video-button {
    margin-top: 50px;
  }

  .video-container {
    width: 380px;
    height: 260px;
    margin-top: 50px;
  }
}

.features-description {
  display: flex;
  flex-wrap: wrap;

  .feature-container {
    padding: 20px 10px;
  }

  .badge-container {
    a {
      text-decoration: none;
      cursor: default;

      span {
        color: $color-white;
        text-decoration: none;
        font-size: .7em;
      }
    }
  }
}

.qnav {
  background: $color-primary;
  position: fixed;
  width: 100%;
  border: 0;
  border-radius: 0;
  min-height: 0;
  z-index: 100;
  transition: all .5s ease;
}

.qnav2 {
  background: $color-primary-alt;
}

.nav-justified > li {
  > a {
    color: $color-white;
    border-radius: 0;
  }

  > a:hover,
  &.active > a,
  &.active > a:hover {
    background: $color-primary;
  }
}

.feature-nav {
  width: 700px;
}

.solution-body {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
  font-size: 16px;
}

.table-of-contents ul {
  list-style: none;
  font-size: 19px;
  padding: 0;
}
