.callout.gitlab-trial
  %h2
    Try all GitLab features - free for 30 days
  %p
    GitLab is more than just source code management or CI/CD. It is a full software development lifecycle & DevOps tool in a single application.
  %a.btn.cta-btn.orange{ href: "/free-trial/" } Try GitLab for Free
